.currency-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  border: 5px solid black;
  padding: 40px;
  border-radius: 30px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 35px;
  font-weight: bold;
  color: rgb(255, 195, 45);
}

.currency-div select,
.amount,
.convert-button {
  width: 220px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(255, 199, 56);
}

.transfer-icon {
  font-size: 60px;
}

.convert-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.convert-button:hover {
  background-color: #0056b3;
}
